<div class="main-contant-bg mobile-screen" style="min-height: 100vh;">
    <header class="myHeader">
      <div class="">
        <div class="container">
            <div class="logoSignup d-flex justify-content-between align-items-center">
              <div class="logo-small">
                <img class="img-fluid" src="assets/images/VUE_BLACK.png" alt="logo-small" width="100px">
              </div>
              <P>RAISEDPROPER</P>
            </div>
          </div>
      </div>
    </header>
    <section class="multi-img-col">
      <div class="container">
       <div class="row">
         <div class="col-6 m-auto">
           <div class="inner-col-img mb-4 text-center">
            <p>RAISEDPROPER</p>
             <img class="img-fluid" src="assets/images/img2.jpeg" alt="profile-img">
           </div>
         </div>
       </div>

      </div>
    </section>
    <section class="form_fields">
      <div class="container text-center">
        <form>
          <div class="form-field">
            <input type="text" name="Url" placeholder="Url">
          </div>
          <div class="form-field">
            <input type="text" name="Url" placeholder="Url">
          </div>
          <div class="form-field">
            <input type="text" name="Email" placeholder="Email address">
          </div>
        </form>
      </div>
    </section>





    <div class="bottom-empty-section" style="height: 60px"></div>
  </div>