<div class="main-contant-bg mobile-screen" style="min-height: 100vh;">
    <header class="myHeader pb-4">
        <div class="container">
            <div class="logoSignup d-flex justify-content-between align-items-center">
              <div class="logo-small">
                <img class="img-fluid" src="assets/images/VUE_BLACK.png" alt="logo-small" width="100px">
              </div>
            </div>
          </div>
    </header>
    <section class="form_fields mt-5">
      <div class="container text-center ">
        <p>find your list again</p>
        <form>
          <div class="form-field">
            <input type="text" name="Name" placeholder="Name">
          </div>
          <div class="form-field">
            <input type="text" name="Email" placeholder="Email address">
          </div>
          <button class="sign_up_btn mt-2">Log In</button>
        </form>
      </div>
    </section>





    <div class="bottom-empty-section" style="height: 60px"></div>
  </div>