<div class="main-contant-bg mobile-screen" style="min-height: 100vh;">
    <header class="myHeader pb-4">
        <div class="container">
            <div class="logoSignup d-flex justify-content-between align-items-center">
              <div class="logo-small">
                <img class="img-fluid" src="assets/images/VUE_BLACK.png" alt="logo-small" width="100px">
              </div>
            </div>
          </div>
    </header>
    <section class="form_fields">
      <div class="container text-center">
        <p>(add however many you want)</p>
        <form [formGroup]="addHoweverForm">
          <div class="form-field">
            <input type="text" formControlName="name" name="name" placeholder="Name">
          </div>
          <div class="form-field">
            <input type="text" formControlName="url_twi" name="Url" placeholder="Url">
          </div>
          <div class="form-field">
            <input type="text" formControlName="url_ins" name="Url" placeholder="Url">
          </div>
          <div class="form-field">
            <input type="text" formControlName="email" name="Email" placeholder="Email address">
          </div>
          <button class="sign_up_btn mt-2" (click)="addHowever()">Get Connected</button>
        </form>
      </div>
    </section>
    <div class="bottom-empty-section" style="height: 60px"></div>
  </div>
