<div class="main-contant-bg mobile-screen" style="min-height: 100vh;">
    <header class="myHeader pb-0">
       <div class="container">
          <div class="logoSignup d-flex justify-content-between align-items-center">
             <div class="logo-small">
                <img class="img-fluid" src="assets/images/VUE_BLACK.png" alt="logo-small" width="100px">
             </div>
          </div>
       </div>
    </header>
    <section class="social-icons-sec text-right">
       <div class="container">
          <img class="img-fluid" src="assets/images/hand_phone.png" alt="hand_phone" width="250px">
       </div>
    </section>
    <section class="content-section">
       <div class="container">
          <div class="main-cont-col mb-3">
             <h3>Connect with ease</h3>
             <p><img class="img-fluid" src="assets/images/VUE_BLACK.png" alt="logo-small" width="25px">will take care of all the connections by providing a list of the people around you that want to <br><b>network</b> and <b>build community.</b></p>
          </div>
          <div class="main-cont-col mb-3">
             <h3>effortless organic growth </h3>
             <p>How many times have you been at an event and weren’t able to connect? <img class="img-fluid" src="assets/images/VUE_BLACK.png" alt="logo-small" width="25px"> helps you increase traffic and get organic followers.</p>
          </div>
          <div class="main-cont-col mb-3">
             <h3>the new way to connect</h3>
             <p>We’ve all lost opportunities from the lack of time to connect with everyone. <img class="img-fluid" src="assets/images/VUE_BLACK.png" alt="logo-small" width="25px"> makes this a thing of the
                past and handles the hard work while you have fun!
             </p>
          </div>
          <div class="text-center inner-sec mt-4">
             <a routerLink="/people-around" routerLinkActive="active"><button class="sign_up_btn mt-2">Get Connect For Free</button></a>
             <p><small>Already on VUE? <a href="#">Log in</a></small></p>
          </div>
       </div>
    </section>
    <div class="bottom-empty-section" style="height: 60px"></div>
 </div>