<div class="main-contant-bg mobile-screen" style="min-height: 100vh;">
    <header class="myHeader">
       <div class="inner-bg-sec">
          <div class="container">
             <div class="logoSignup d-flex justify-content-between align-items-center">
                <div class="logo-small">
                   <img class="img-fluid" src="assets/images/VUE_BLACK.png" alt="logo-small" width="50px">
                </div>
                <div class="signupBtn">
                   <button class="sign_up_btn">Sign Up Free</button>
                </div>
             </div>
          </div>
       </div>
    </header>
    <section class="inner-sec mt-4">
       <div class="container text-center">
          <h2 class="mb-0">Never Miss A <br> Connection</h2>
          <p>Connect with the people from irl to url</p>
          <a routerLink="/connect-page" routerLinkActive="active"><button class="sign_up_btn mt-2">People around me</button></a>
          <p><small>Already on VUE? <a href="#">Log in</a></small></p>
          <div class="mobile-screen text-center mt-4 pt-3">
             <img class="img-fluid" src="assets/images/mobile.png" alt="mobile-screen" width="260px">
          </div>
       </div>
    </section>
    <div class="bottom-empty-section" style="height: 60px"></div>
 </div>